<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-insider" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Insider</name>
    <description>Insider Cordova Plugin</description>
    <keywords>insider,cordova,cordova-ios,cordova-android</keywords>
    <license>Apache 2.0 License</license>

    <js-module name="insider" src="www/insider.js">
        <clobbers target="insider.instance" />
    </js-module>
    

    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="insider">
                <param name="android-package" value="insider.cordova.insider.InsiderPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <dependency id="cordova-outsystems-firebase-core" url="https://github.com/OutSystems/cordova-outsystems-firebase-core.git#1.0.0"/>
        <preference name="PARTNER_NAME" default="Name"/>

        <hook type="after_plugin_install" src="hooks/android/addGoogleServices.js" />
        <hook type="after_plugin_install" src="hooks/android/handle_agconnect_services.js" />
        <hook type="after_prepare" src="hooks/android/addGoogleServices.js" />
        <hook type="before_prepare" src="hooks/android/updatePartnerName.js" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        </config-file>


        <source-file src="src/android/InsiderPlugin.java" target-dir="src/insider/cordova/insider" />

        <framework src="src/android/insider-internal-build.gradle" custom="true" type="gradleReference"/>

    </platform>

    <platform name="ios">


        <config-file parent="/*" target="config.xml">
            <feature name="insider">
                <param name="ios-package" value="insider" />
                <param name="onload" value="true" />
            </feature>
        </config-file>


        <hook type="before_plugin_install" src="hooks/ios/copyAndUnzipProvisioningProfiles.js"/>
        <hook type="before_plugin_install" src="hooks/ios/copyProvisioningProfiles.js"/>

        <hook type="before_plugin_install" src="hooks/ios/InsiderNotificationContent/CopyNotificationContentExtension.js" />
        <hook type="before_plugin_install" src="hooks/ios/InsiderNotificationService/CopyNotificationServiceExtension.js" />

        <hook type="after_plugin_install" src="hooks/ios/ChangeAppGroup.js" />
        <hook type="after_plugin_install" src="hooks/ios/UpdatePartnername.js" />

        <hook type="after_plugin_install" src="hooks/ios/AddTargets.js" />

        <hook type="before_prepare" src="hooks/ios/updateCordovaBuildJs.js"/>

        <hook type="before_build" src="hooks/ios/updateCordovaBuildJs.js"/>

        <hook type="after_prepare" src="hooks/ios/ChangeAppGroup.js" />


        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>insider</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>insider$PARTNER_NAME</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
                <string>remote-notification</string>
            </array>
        </config-file>

        <config-file target="*-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>
        <config-file target="*-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>
        <config-file target="*-Debug.plist" parent="com.apple.security.application-groups">
            <array>
                <string>group.com.useinsider.plugin</string>
            </array>
        </config-file>
        <config-file target="*-Release.plist" parent="com.apple.security.application-groups">
            <array>
                <string>group.com.useinsider.plugin</string>
            </array>
        </config-file>

        <source-file src="src/ios/insider.m" target-dir="insider" />
        <header-file src="src/ios/Insider.h" target-dir="ios" />

        <framework src="libsqlite3.tbd" />
        <framework src="libicucore.tbd" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="InsiderMobile" />
                <pod name="InsiderMobileAdvancedNotification"/>
            </pods>
        </podspec>

    </platform>
</plugin>
